sudo: false

language: php

cache:
  directories:
    - $HOME/.composer/cache
    - vendor

matrix:
  fast_finish: true
  include:
    - php: 5.5
      env:
        - COMPOSER_ARGUMENTS=--prefer-lowest
    - php: 5.6
      env:
        - EXECUTE_TEST_COVERALLS=true
    - php: 7.0
      env:
        - EXECUTE_CS_CHECK=true
    - php: hhvm

before_install:
  - if [[ $EXECUTE_TEST_COVERALLS != 'true' ]]; then phpenv config-rm xdebug.ini || return 0; fi

install:
  - travis_retry composer update --no-interaction $COMPOSER_ARGUMENTS
  - composer info -i

script:
  - if [[ $EXECUTE_TEST_COVERALLS == 'true' ]]; then vendor/bin/phpunit --coverage-clover clover.xml tests; fi
  - if [[ $EXECUTE_TEST_COVERALLS != 'true' ]]; then vendor/bin/phpunit tests; fi

  - php vendor/bin/phpunit examples

  - if [[ $EXECUTE_CS_CHECK == 'true' ]]; then vendor/bin/php-cs-fixer fix -v --dry-run; fi

after_script:
  - if [[ $EXECUTE_TEST_COVERALLS == 'true' ]]; then
    wget https://github.com/satooshi/php-coveralls/releases/download/v1.0.1/coveralls.phar;
    chmod +x coveralls.phar;
    php coveralls.phar -v;
    fi
