<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
        colors="true"
        forceCoversAnnotation="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">
    <testsuites>
        <testsuite name="library">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
        <testsuite name="examples">
            <directory suffix="Test.php">example/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/JsonSchema</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>